<h1><%= @question.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>


<% if @check_resolved %>

  既に回答済みです。

<% else %>

  <%= form_with(local: true, url: 'result') do |form| %>
  <div class="form-group">
    <%= form.label "Flag" %>
    <%= form.text_field "flag",　class:'form-control' %>
  </div>

  <%= hidden_field_tag :question_id, @question.id %>

  <div>
    <%= form.submit "送信", class:"btn btn-primary" %>
  </div>
  <% end %>

<% end %>
