<h1>こんにちは、<%= current_user.username %>さん</h1>
<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %></p>
<div class="row">
  <div class="col-md-6">
    <% if @clear_flag %>
      全問正解
    <% else %>
      <%= image_tag 'map.png', :width => '350' %>
      <div class="map-pointer" id="pq1" style="position:absolute;left:320px;top:128px">＊</div>
      <div class="map-pointer" id="pq2" style="position:absolute;left:102px;top:89px">＊</div>
      <div class="map-pointer" id="pq3" style="position:absolute;left:130px;top:60px">＊</div>
    <% end %>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Challenge</th>
        <th>-</th>
      </tr>
      </thead>

      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td><%= question.id %></td>
          <td><%= question.name %></td>
          <% if @last_item_question_id + 2  >  question.id %>
            <td><%= link_to 'FIGHT', question, class: "btn btn-primary" %></td>
          <% else %>
            <td><%= link_to 'BLOCKED', "#", class: "btn btn-secondary" %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h2>Recent</h2>
  <table class="table">
    <tbody>
    <% @challenges.each do |c| %>
      <tr>
        <% if  c.result == 1 %>
          <td>お見事！</td>
          <td><%= c.user.username %>さんが<%= c.question_id %>問目に正解しました。</td>
        <% else %>
          <td>残念</td>
          <td><%= c.user.username %>さんが<%= c.question_id %>問目で間違えました</td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
