<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @challenge.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @challenge.question_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @challenge.result %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
